# {{.packageName}}

* Developer: {{.developer}}
* Email: {{.email}}
* Language: Golang
* Download: `go get github.com/replace-me`
* Summary: {.summary}}
## Table of Contents

- [{{.packageName}}](#{{.packageName}})
  * [Table of Contents](#table-of-contents).