package app

import (
	"github.com/gofunct/gogen/pkg/gogenserver"
)

// Run starts the gogenserver.
func Run() error {
	s := gogenserver.New(
		gogenserver.WithDefaultLogger(),
		gogenserver.WithServers(
		// TODO
		),
	)
	return s.Serve()
}
