{{$author := .Author}}
{{$service := .Service}}
{{$app := .App}}
{{$domain := .Domain}}
{{$summary := .Summary}}
{{$git_username := .GitUserName}}
{{$docker_username := .DockerUserName}}
{{$transport := .Transport}}
{{$listen := .Listen}}

##--------VARS------------------------------------------

author = {{$author}}
service = {{$service}}
domain = {{$domain}}
summary = {{$summary}}
git_username = {{$git_username}}
docker_username = {{$docker_username}}
transport = {{$transport}}
listen = {{$listen}}
